server:
  port: 8083 # Puerto del servicio de pedidos

spring:
  application:
    name: pedidos

  # Configuración de PostgreSQL
  datasource:
    url: jdbc:postgresql://localhost:5432/pedidos_db
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

# Eureka Client
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# Clave secreta (¡Debe ser la misma que auth y gateway!)
app:
  jwt:
    secret: "bXN1cGVyc2VjcmV0a2V5Zm9ydGhlc3RvcmUxMjM0NVhZWlo="